{% extends 'base.html.twig' %}

{% block title %}Artciles - {{ parent() }} {% endblock %}

{% block body %}

<h1>Liste d'articles</h1>
<div>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Date de publication</th>
                <th>Auteur</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <th>{{ item.title }}</th>
                    <th>{{ item.text }}</th>
                    <th>{{ item.publishedAt }}</th>
                    <th>{{ item.author }}</th>
                </tr>
            {% endfor %}        
        </tbody>

    </table>
</div>
{% endblock %}
